@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.section5 {
  background-image: url("https://images01.nicepage.com/c461c07a441a5d220e8feb1a/47ccfd75452d5b419714c10d/aaaaa-min.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding: 80px 0;
  .section5-img {
    height: auto;
    width: 50%;
    img {
      width: 90%;
      height: 60vh;
    }
  }
  .section5-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    #p51 {
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: bolder;
      color: #fff;
      line-height: 25px;
      font-family: Oswald, sans-serif;
      text-shadow: 1px 1px 11px rgb(0, 0, 0, 0.4);
      letter-spacing: 2px;
      em {
        font-size: 1.5rem;
        letter-spacing: 6px;
        font-style: normal;
        font-weight: lighter;
      }
    }
    #p52 {
      color: #fff;
      font-size: medium;
      font-weight: lighter;
      font-family: "Open Sans", sans-serif;
    }
    #p53 {
      font-size: small;
      color: #fff;
      font-family: "Open Sans", sans-serif;

      a {
        color: #fff;
      }
    }
    .section5-btn {
      width: 100%;
      button {
        padding: 10px 30px;
        color: #fff;
        background-color: #efab47;
        border: none;
        cursor: pointer;
        letter-spacing: 1px;
        border-radius: 20px;
        &:hover {
          background-color: #fff;
          color: #292870;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .section5 {
    flex-direction: column;
    padding: 40px 0;
    .section5-img {
      width: 100%;
      img {
        height: 30vh;
      }
    }
    .section5-info {
      padding: 30px;
      width: 80%;
    }
  }
}
